@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

img:nth-child(2),
img:nth-child(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  img:first-child {
    width: 100%;
  }

  img:nth-child(2),
  img:nth-child(4) {
    float: left;
    width: 50%;
    display: block;
  }

  img:nth-child(3),
  img:nth-child(5) {
    float: right;
    width: 50%;
    display: block;
  }

}

@media only screen and (min-width: 38em) {

  img:first-child {
    width: 100%;
  }

  img:nth-child(2),
  img:nth-child(3),
  img:nth-child(4) {
    float: left;
    width: 33.3333%;
    display: block;
  }

  img:nth-child(5) {
    display: none;
    overflow: hidden;
  }

}

@media only screen and (min-width: 60em) {

  img:first-child {
    width: 66.6666%;
    float: left;
  }

  img:nth-child(2) {
    float: right;
    width: 33.3333%;
    display: inline-block;
  }

  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5) {
    float: left;
    width: 33.3333%;
    display: inline-block;
  }

}

@media only screen and (min-width: 90em) {

  img {
    display: block;
  }

}
